<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Scheduler - Home</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	 <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="public/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="public/css/style.css" rel="stylesheet" >
    <link href="public/css/style-responsive.css" rel="stylesheet" />
</head>
<body class="login-body">
<div class="container">

	 				 <section>
                          <div class="loginheading">
                              Finally! The Student Class Scheduler You've Been Looking For...
                          </div>
                          <a href="/login" class="loginlogo"><center> Student <span>Scheduler</center></span></a>
                      </section>  

	<section class="scheduler">

		<span><center><b> Login or Register </b></center></span>
		<br>
		<center>
		<a href="/login" class="btn btn-default btn-lg"><span class="fa fa-key"></span> Login</a> 

		<a href="/signup" class="btn btn-default btn-lg"><span class="fa fa-pencil-square-o"></span> Signup</a>

		<a href="/auth/google" class="btn btn-danger btn-lg"><span class="fa fa-google-plus"></span> Sign in with Google</a>
		</center>
	</section>

</div>
</body>
</html>
