<!doctype html>
<html>
<head>
	<title>Scheduler - Select courses</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<link href="public/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  	<script src="public/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
  	<script src="public/js/schedule-main.js"></script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Scheduler</h1>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<p id="error-alert" class="alert alert-danger text-center">There was an error processing your request. Please try again later.</p>
		</div>
	</div>

	<div class="row" style="padding-bottom: 10px;">
		<div class="col-sm-3 col-xs-12">
			<select class="form-control input-lg" name="term" id="term" >
				<%var terms = school.terms;%>
				<% for(var i=0;i<terms.length;i++) { %>
					<option value="<%=terms[i]%>"><%=terms[i] %></option>
				<% } %>
			</select>
		</div>
		<div class="col-sm-9 col-xs-12">
			<input id="course_input" placeholder="Course number or name" class="form-control input-lg">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Selected courses</h2>
				</div>
				<div class="panel-body"  id="none-selected">
					<p>No courses selected yet</p>
				</div>
				<table id="selected-courses" class="table table-striped">
					<tr id="title-row"><th>Number</th><th>Name</th><th /></tr>
				</table>
			</div>
		</div>

	</div>

	<div class="row" id="row-after-courses">
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Suggested courses</h4>
				</div>
				<div class="panel-body">
					<br><br><br>
				</div>
			</div>

		</div>
		<div class="col-sm-7">
			<h4>General preferences</h4>
			<button id="create-schedule" class="btn btn-primary pull-right btn-lg">Generate schedules</button>
		</div>
	</div>

	<div class="row">
		<div id="loading" class="col-md-12 text-center">
			<img src="/public/img/loading.gif" />
		</div>
	</div>


	<div class="row" id="calendar-holder">
		<div class="col-xs-12" style="padding-bottom: 10px;">
		<div id="calendar-control" class="well">
			<div class="col-md-1">
				<input type="button" id="schedule-prev" class="btn btn-primary btn-sm" value="Previous"/>
			</div>
			<div class="col-md-10">
				<h4 id="schedule-count" class="text-center">1 of 1000 possible schedules</h4>
			</div>
			<div class="col-md-1">
				<input type="button" id="schedule-next" class="btn btn-primary btn-sm" value="Next" />
			</div><br>
			
		</div>
	</div>
	<div id="calendar" class="col-xs-12"></div>
	</div>

	<div class="row">
		<img src="/public/img/tardis logo sm.png" style="display: block; margin-left: auto; margin-right: auto; padding:20px;"/>
	</div>
</div>
</body>
</html>

