<!doctype html>
<html>
<head>
	<title>Scheduler - My schedule</title>
	<link rel="stylesheet" href="public/css/bootstrap.min.css">
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>

	<link rel="stylesheet" href="public/css/jquery-ui.min.css">
	<link href="public/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />

	<script src="public/js/jquery-1.11.1.min.js"></script>
  	<script src="public/js/jquery-ui.min.js"></script>
  	<script src="public/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
  	<script src="public/js/bootstrap.min.js"></script>
  	<script src="public/js/schedule-main.js"></script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Scheduler</h1>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<p id="error-alert" class="alert alert-danger text-center">There was an error processing your request. Please try again later.</p>
		</div>
	</div>

	<div class="row" style="padding-bottom: 20px;">
		<div class="col-sm-3 col-xs-12">
			<select class="form-control input-lg" name="term" id="term" >
				<%var terms = school.terms;%>
				<% for(var i=0;i<terms.length;i++) { %>
					<option value="<%=terms[i]%>"><%=terms[i] %></option>
				<% } %>
			</select>
		</div>
		<div class="col-sm-9 col-xs-12">
			<div class="input-group input-group-lg">
				<input id="course_input" placeholder="Course number or name" class="form-control">
				<span class="input-group-btn">
			        <button class="btn btn-default btn-primary" type="button" id="add-button"><span class="glyphicon glyphicon-plus" /></button>
			    </span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-primary table-responsive">
				<div class="panel-heading">
					<h2 class="panel-title">Selected courses<a href="#"><span id="expand-all" title="Expand all courses" class="glyphicon glyphicon-collapse-down pull-right" style="padding-right:5px;"></span></a><a href="#"><span id="collapse-all" title="Collapse all courses" class="glyphicon glyphicon-collapse-up pull-right" style="padding-right:10px;"></span></a></h2>
				</div>
				<div class="panel-body"  id="none-selected">
					<p>Search for a course above to get started</p>
				</div>
				<div class="panel-group" id="accordion">

				</div>
			</div>
		</div>

	</div>

	<div class="row" id="row-after-courses">
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Suggested courses</h4>
				</div>
				<div class="panel-body">
					<br><br><br>
				</div>
			</div>

		</div>
		<div class="col-sm-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Schedule preferences</h4>
				</div>
				<div class="panel-body">
					<br>
					<div class="form-group">
						<label>Preferred class start time: between <span id="time0">8am</span> and <span id="time1">5pm</span></label>
						<div id="slider" class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>
					</div>
					<br><br>
				</div>
				<div class="panel-footer">
					<button id="create-schedule" class="btn btn-primary pull-right btn-lg">View schedules</button><div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div id="loading" class="col-md-12 text-center">
			<img src="/public/img/loading.gif" />
			
		</div>
	</div>

	<div class="row" id="calendar-holder">
		<div class="col-xs-12" style="padding-bottom: 20px;">
		<div id="calendar-control" class="well">
			<div class="col-md-2">
				<input type="button" id="schedule-prev" class="btn btn-primary btn-sm" value="Previous"/>
			</div>
			<div class="col-md-8">
				<h4 class="text-center"><span id="current-index">1</span> of <span id="schedule-count">1000</span> possible schedules <small>Sorted by best</small></h4>
			</div>
			<div class="col-md-2">
				<input type="button" id="schedule-next" class="btn btn-primary btn-sm pull-right" value="Next" />
			</div><br>
			
		</div>
	</div>
	<div id="calendar" class="col-xs-12"></div>
	</div>

	<div class="row">
		<img src="/public/img/tardis logo sm.png" style="display: block; margin-left: auto; margin-right: auto; padding:20px;"/>
	</div>
</div>
</body>
</html>

