<!doctype html>
<html>
<head>
	<title>Scheduler - Select courses</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<link href="public/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  	<script src="public/assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
  	<script src="public/js/schedule-main.js"></script>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1>Scheduler</h1>
	</div>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-md-6">
			<div class="well">
				<h3>Find courses</h3>
				<div class="form-group">
					<label>Term</label>
					<select class="form-control" name="term" id="term">
						<%var terms = school.terms;%>
						<% for(var i=0;i<terms.length;i++) { %>
							<option value="<%=terms[i]%>"><%=terms[i] %></option>
						<% } %>
					</select>
				</div>
				<div class="form-group">
					<input id="course_input" placeholder="Course number or name" class="form-control">
				</div>
			</div>

		</div>

		<div class="col-md-6">
			<div class="well">
				<h3>Your selected courses</h3>
				<p id="none-selected">No courses selected yet</p>
				<table id="selected-courses" class="table table-striped">
					<tr id="title-row"><th>Number</th><th>Name</th><th /></tr>
				</table>
				<input type="button" id="create-schedule" class="btn btn-primary" value="Generate schedule"></input>
			</div>
		</div>

	</div>

	<div class="row">
		<div id="calendar-holder" class="col-md-12">
			<div id="calendar"></div>
		</div>
	</div>

</div>
</body>
</html>

